.service-container {
  position: relative;
}

.service-list-container {
  white-space: nowrap;
  overflow-x: hidden;
}

.service-list {
  margin: 40px 0;
  padding: 0 30px;
}

.card-container {
  background-color: var(--common-white);
  border-radius: 15px;
  box-shadow: var(--card-shadow);
  padding-top: 30px;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

.card-container:first-child {
  margin-left: 0;
}

.card-container:last-child {
  margin-right: 0;
}

.card-container .icon {
  color: var(--primary-main);
  margin-bottom: 20px;
}

.card-container div {
  background-color: var(--common-grey-1);
  padding: 20px 20px 30px;
  border-radius: 0 0 15px 15px;
}

.card-container h4 {
  margin-bottom: 20px;
  color: var(--common-black);
}

.card-container p {
  color: var(--common-black);
  white-space: normal;
}
